<!--Our Collection-->
<section class="collection">
    <div class="container">
      <h2 class="collection-section-title" id="collection">Our collection</h2>
      <ul class="collection-list list">
        <li class="collection-list-item">
          <div class="collection-overlay-wrapper">
            <img
              srcset="
                ../img/desktop_1440/price_1_1440.jpg    400w,
                ../img/desktop_1280/price_1_1280.jpg    347w,
                ../img/tablet/price_1_tablet.jpg        342w,
                ../img/mobile/price_1_mobile.jpg        335w,
                ../img/desktop_1440/price_1_1440@2x.jpg 800w,
                ../img/desktop_1280/price_1_1280@2x.jpg 694w,
                ../img/tablet/price_1_tablet@2x.jpg     684w,
                ../img/mobile/price_1_mobile@2x.jpg     670w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../img/mobile/price_1_mobile.jpg"
              alt="Photo of AUGUST Poltava women's blouseRING"
              width="335"
              height="400"
            />
            <p class="collection-text-overlay">
              The black women's shirt is flared to the bottom and has side
              decorative reliefs on the front and. The round neckline is decorated
              with embroidery. The sleeves are gathered at the top and bottom, the
              cuffs have a hidden button. Fabric - linen. Threads - cotton.
            </p>
          </div>
          <div class="collection-list-name">
            <h3 class="collection-list-title">
              AUGUST Poltava women's blouseRING
            </h3>
            <p class="collection-list-text">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-overlay-wrapper">
            <img
              srcset="
                ../img/desktop_1440/price_2_1440.jpg    400w,
                ../img/desktop_1280/price_2_1280.jpg    347w,
                ../img/tablet/price_2_tablet.jpg        342w,
                ../img/mobile/price_2_mobile.jpg        335w,
                ../img/desktop_1440/price_2_1440@2x.jpg 800w,
                ../img/desktop_1280/price_2_1280@2x.jpg 694w,
                ../img/tablet/price_2_tablet@2x.jpg     684w,
                ../img/mobile/price_2_mobile@2x.jpg     670w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../img/mobile/price_2_mobile.jpg"
              alt="Photo of Women's blouse Gorgany"
              width="335"
              height="400"
            />
            <p class="collection-text-overlay">
              Shirt with a free cut. It has long rolled-in sleeves with dropped
              shoulders. On the bottom of the sleeve there is a cuff with a
              1-button fastening. Central front fastening in the center. Classic
              stand-up collar. Fabric - linen. Threads - cotton.
            </p>
          </div>
          <div class="collection-list-name">
            <h3 class="collection-list-title">Women's blouse Gorgany</h3>
            <p class="collection-list-text">3350 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-overlay-wrapper">
            <img
              srcset="
                ../img/desktop_1440/price_3_1440.jpg    400w,
                ../img/desktop_1280/price_3_1280.jpg    347w,
                ../img/tablet/price_3_tablet.jpg        342w,
                ../img/mobile/price_3_mobile.jpg        335w,
                ../img/desktop_1440/price_3_1440@2x.jpg 800w,
                ../img/desktop_1280/price_3_1280@2x.jpg 694w,
                ../img/tablet/price_3_tablet@2x.jpg     684w,
                ../img/mobile/price_3_mobile@2x.jpg     670w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../img/mobile/price_3_mobile.jpg"
              alt="Photo of Women's blouse Crimea"
              width="335"
              height="400"
            />
            <p class="collection-text-overlay">
              Straight silhouette shirt with voluminous puffed sleeves. The
              bottoms of the sleeves are gathered on wide cuffs and fastened with
              buttons. The front placket is fastened with buttons. Wide flat
              collar. Fabric - linen. Threads - cotton.
            </p>
          </div>
          <div class="collection-list-name">
            <h3 class="collection-list-title">Women's blouse Crimea</h3>
            <p class="collection-list-text">4000 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-overlay-wrapper">
            <img
              srcset="
                ../img/desktop_1440/price_4_1440.jpg    400w,
                ../img/desktop_1280/price_4_1280.jpg    347w,
                ../img/tablet/price_4_tablet.jpg        342w,
                ../img/mobile/price_4_mobile.jpg        335w,
                ../img/desktop_1440/price_4_1440@2x.jpg 800w,
                ../img/desktop_1280/price_4_1280@2x.jpg 694w,
                ../img/tablet/price_4_tablet@2x.jpg     684w,
                ../img/mobile/price_4_mobile@2x.jpg     670w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../img/mobile/price_4_mobile.jpg"
              alt="Photo of Men's shirt Verkhovina"
              width="335"
              height="400"
            />
            <p class="collection-text-overlay">
              The shirt is straight and voluminous. The central placket has hidden
              buttons. The classic folding stand collar is fastened with a wooden
              button. Various machine embroidery techniques were used to imitate
              hand stitches. Fabric - linen. Threads - cotton.
            </p>
          </div>
          <div class="collection-list-name">
            <h3 class="collection-list-title">Men's shirt Verkhovina</h3>
            <p class="collection-list-text">3100 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-overlay-wrapper">
            <img
              srcset="
                ../img/desktop_1440/price_5_1440.jpg    400w,
                ../img/desktop_1280/price_5_1280.jpg    347w,
                ../img/tablet/price_5_tablet.jpg        342w,
                ../img/mobile/price_5_mobile.jpg        335w,
                ../img/desktop_1440/price_5_1440@2x.jpg 800w,
                ../img/desktop_1280/price_5_1280@2x.jpg 694w,
                ../img/tablet/price_5_tablet@2x.jpg     684w,
                ../img/mobile/price_5_mobile@2x.jpg     670w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../img/mobile/price_5_mobile.jpg"
              alt="Photo of Mountain men's shirt"
              width="335"
              height="400"
            />
            <p class="collection-text-overlay">
              Men's black shirt with a stand-up collar. Made in the style of
              national traditions, has a unique style. Long sleeves with buttons
              on the back. Fabric - linen. Threads - cotton.
            </p>
          </div>
          <div class="collection-list-name">
            <h3 class="collection-list-title">Mountain men's shirt</h3>
            <p class="collection-list-text">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-overlay-wrapper">
            <img
              srcset="
                ../img/desktop_1440/price_6_1440.jpg    400w,
                ../img/desktop_1280/price_6_1280.jpg    347w,
                ../img/tablet/price_6_tablet.jpg        342w,
                ../img/mobile/price_6_mobile.jpg        335w,
                ../img/desktop_1440/price_6_1440@2x.jpg 800w,
                ../img/desktop_1280/price_6_1280@2x.jpg 694w,
                ../img/tablet/price_6_tablet@2x.jpg     684w,
                ../img/mobile/price_6_mobile@2x.jpg     670w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../img/mobile/price_6_mobile.jpg"
              alt="Photo of Men's shirt Yasen"
              width="335"
              height="400"
            />
            <p class="collection-text-overlay">
              Men's straight shirt with a stand-up collar, yoke on the back. Long
              sleeves with buttons on the back. Front slit with tassels. Fabric -
              linen. Threads - cotton.
            </p>
          </div>
          <div class="collection-list-name">
            <h3 class="collection-list-title">Men's shirt Yasen</h3>
            <p class="collection-list-text">1700 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </section>