<!-- -----------FOOTER PAGE--------------- -->

<footer class="page-footer">
  <div class="footer-container container">
    <div class="footer-nav">
      <nav class="footer-menu">
        <ul class="footer-list">
            <li class="footer-item">
              <a href="#about" class="footer-link link">about us</a>
            </li>
            <li class="footer-item">
              <a href="#collection" class="footer-link link">our collection</a>
            </li>       
            <li class="footer-item">
              <a href="#order" class="footer-link link">customer order</a>
            </li>
            <li class="footer-item">
              <a href="#testimonials" class="footer-link link">testimonials</a>
            </li>          
        </ul>
      </nav>
    </div>
    <p class="footer-text">
      A touch of <span class="footer-text-span">Ukrainian</span> culture in
      every embroidery
    </p>
  </div>
</footer>

<!-- -----------FOOTER PAGE--------------- -->
