<fooret class="page-footer">
    <div class="footer-container container">
        <div class="footer-nav">
            <nav class="footer-menu">
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-link">about us</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">our collection</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">customer order</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">testimonials</a>
                    </li>
                </ul>
            </nav>
        </div>
        <p class="footer-text">A touch of 
            <span class="footer-text-span">Ukrainian</span> culture in every embroidery</p>
        <!-- <img class="footer-background" 
            src="../image/mobile/bg_footer_mobile.png" 
            alt="background"
            width=""> -->
        </div>
</fooret>