<div class="menu-backdrop" id="menu-form">
    <div class="menu-container">
        <div class="menu-wrapper">
            <div class="menu-number">
                <a class="menu-number-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </div>
            <div class="menu-close-button">
                <button class="menu-close-btn" type="button" id="mobile-close-btn">
                    <svg class="menu-modal-svg" width="36" height="36">
                        <use href="./img/svg/icons.svg#icon-close"></use>
                    </svg>
                    <svg class="menu-modal-svg-tablet" width="44" height="44">
                        <use href="./img/svg/icons.svg#icon-close-tablet"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="menu-modal-nav">
            <ul class="menu-header-container">
                <li class="menu-header-container">
                    <a class="menu-modal-nav-link" href="">About us</a>
                </li>
                <li class="menu-header-container">
                    <a class="menu-modal-nav-link" href="">Our collection</a>
                </li>
                <li class="menu-header-container">
                    <a class="menu-modal-nav-link" href="">CUSTOMER ORDER</a>
                </li>
                <li class="menu-header-container">
                    <a class="menu-modal-nav-link" href="">Testimonials</a>
                </li>
            </ul>
        </div>

    </div>
</div>