<section class="section order">
  <div class="order-background"></div>

  <div class="container order-container">
    <div class="order-text">
      <h2 class="order-title">
        <span class="order-title-custom">Your order </span>is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="order-form">
        <input
          class="order-input"
          type="text"
          name="full-name"
          required
          pattern="[a-zA-Zа-яА-ЯіІєЄїЇ'йЙ]+"
          placeholder="Enter your full name"
        />

        <input
          class="order-input"
          type="email"
          name="email"
          required
          placeholder="Enter your email"
        />

        <textarea
          class="order-message"
          name="user-comment"
          placeholder="Coments"
        ></textarea>
        <button class="order-button btn button">
          SEND
          <svg class="order-button-icon" width="24" height="10">
            <use href="../img/svg/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <img
      class="order-image"
      srcset="
        ./img/tablet/order_tablet.jpg            638w,
        ./img/tablet/order_tablet@2x.jpg        1276w,
        ./img/desktop_1280/order_desktop.jpg     524w,
        ./img/desktop_1280/order_desktop@2x.jpg 1048w
      "
      sizes="(min-width: 1280px) 524px, (min-width: 768px) 638px"
      src="./img/desktop_1280/order_desktop.jpg"
      alt="ddd"
    />
    <div class="order-bg"></div>
  </div>
</section>
