.collection {
  padding-top: 18px;
}

.collection-container {
  background-image: url('../img/mobile/bg_price_mobile.png');
  background-size: 72px 177px;
  background-repeat: no-repeat;
  background-position: 0px 298px;
}

.collection-section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  color: var(--mainColor);
  margin-bottom: 40px;
}

.collection-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.collection-overlay-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.collection-list-name {
  padding-top: 18px;
}

@media screen and (max-width: 374px) {
  .collection-list-item {
    max-width: 100%;
    width: 335px;
  }
}

.collection-list-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--mainColor);
  margin-bottom: 8px;
}

.collection-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--textColor);
}

.collection-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--overlayColor);
  background: var(--overlayBackground);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(11px);
  overflow: auto;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-list-item:hover .collection-text-overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 374px) {
  .collection-container {
    background-position: 0px 241px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .collection-container {
    background-image: url('../img/mobile/bg_price_mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .collection {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .collection-container {
    background-image: url('../img/tablet/bg_price_tablet.png');
    background-size: 114px 300px;
    background-position: 0px 221px;
  }

  .collection-section-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .collection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .collection-list-item {
    width: 342px;
  }

  .collection-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .collection-list-title {
    font-size: 18px;
  }

  .collection-list-text {
    font-size: 18px;
  }

  .collection-text-overlay {
    font-size: 18px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .collection-container {
    background-image: url('../img/tablet/bg_price_tablet@2x.png');
  }
}

@media screen and (min-width: 1280px) {
  .collection {
    padding-top: 70px;
    padding-bottom: 150px;
  }

  .collection-container {
    background-image: url('../img/desktop_1280/bg_price_desktop.png');
    background-size: 169px 300px;
  }

  .collection-list {
    column-gap: 19.5px;
    row-gap: 40px;
  }

  .collection-list-item {
    width: 347px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .collection-container {
    background-image: url('../img/desktop_1280/bg_price_desktop@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .collection-list {
    column-gap: 20px;
  }

  .collection-list-item {
    width: 400px;
  }
}
