.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.social-media-item {
  padding-top: 4 px;
  padding-bottom: 4px;
}

.social-media-icon {
}

.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  fill: var(--mainColor);
  padding: 8px;
}

.social-media-icon:hover,
.social-media-icon:focus {
  border: 1px solid var(--accentColor);
}

.header-contacts {
  margin-left: auto;
}

.header-menu,
.header-contacts-link {
  display: none;
}

.open-burger-btn {
  border: none;
  background-color: transparent;
  margin-left: 12px;
  line-height: 0;
  padding: 0;
}

.burger-btn-icon {
  width: 36px;
  height: 24px;
}

@media screen and (min-width: 768px) {
}

/* ===== COMMON DESKTOP STYLES ===== */

@media screen and (min-width: 1280px) {
  .header-menu {
    margin-left: 60px;
    display: flex;
    gap: 25px;
  }

  .header-contacts-link {
    display: block;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid var(--textColor);
    color: var(--mainColor);
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
    font-style: normal;
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    border: 1px solid var(--accentColor);
  }

  .page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu-link {
    color: var(--mainColor);
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
  }
  .open-burger-btn {
    display: none;
  }
}

/* ===== COMMON DESKTOP STYLES ===== */
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 18px;
  }

  .social-media {
    margin-left: 20px;
  }
}
