.header {
  position: sticky;
  top: 0;
  background-color: #1c2225;
  z-index: 9999;
}
.header-container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0;
}
.logotype {
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-menu,
.header-contacts {
  display: none;
}

.social-media {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--borderColor);
  background: var(--bcgColor);
  fill: var(--mainColor);
}

.open-burger-btn {
  border: none;
  background-color: transparent;
  margin-left: 12px;
  line-height: 0;
  padding: 0;
}

.burger-btn-icon {
  width: 36px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .burger-btn-icon {
    width: 44px;
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    margin: 0 auto;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    margin-left: 60px;
    display: flex;
    gap: 25px;
  }

  .header-menu-link {
    display: block;
    padding-top: 36px;
    padding-bottom: 36px;
    color: var(--mainColor);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.28;
  }

  .header-contacts {
    display: block;
    margin-left: auto;
  }

  .header-contacts-link {
    display: block;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid var(--textColor);
    color: var(--mainColor);
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
    font-style: normal;
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    border: 1px solid var(--accentColor);
  }

  .social-media {
    margin-left: 20px;
  }

  .social-links:hover,
  .social-links:focus {
    border: 1px solid var(--accentColor);
    background-color: transparent;
  }

  .open-burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
  .logotype {
    padding-top: 24px;
  }
}
