.hero-title {
  color: var(--mainColor);
  font-size: 44px;
  line-height: 1.23;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.hero-title-custom {
  color: var(--accentColor);
}

.hero-main-img {
  border-radius: 4px;
}

.hero-btn {
  color: var(--mainColor);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 40px;
}

.hero-icon-arrow {
  fill: var(--accentColor);
  transform: rotate(330deg);
}

@media screen and (max-width: 767px) {
  .hero-sub-img,
  .hero-label {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .hero {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 549px;
    padding-top: 26px;
    font-size: 54px;
    line-height: 1.19;
    margin-bottom: 40px;
  }

  .hero-btn {
    font-size: 16px;
    width: 168px;
    padding: 14px 39px;
    margin-left: 141px;
  }

  .hero-sub-img {
    width: 139px;
    height: 98.5px;
    border-radius: 50% / 100% 100% 0 0;
    overflow: hidden;
  }

  .hero-box-img {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .hero-container {
    position: relative;
  }

  .hero-label {
    width: 115px;
    fill: var(--accentColor);
    text-align: center;
    position: absolute;
    right: 32px;
    top: 0;
  }
  .hero-icon-star {
    margin-bottom: 16px;
  }

  .hero-text {
    color: var(--textColor);
    font-size: 16px;
    letter-spacing: -0.04em;
  }
}
