.order-background {
  max-width: 375px;
  height: 575px;
  background-image: url(../img/mobile/women_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
.order-container {
}
.order-title {
  color: var(--accentColor);

  font-size: 32px;

  font-weight: 500;
  line-height: 44px; /* 137.5% */
  letter-spacing: -0.96px;
}
.order-span {
  color: var(--mainColor);
}
@media screen and (max-width: 767px) {
  .order-image {
    display: none;
  }
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
