@import url('./reset.css');
@import url('./variables.css');
@import url('./common.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
@import url('./menu.css');
@import url('./footer.css');
