.comments {
  padding-bottom: 80px;
}

.comments-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
  margin-bottom: 64px;

  color: var(--mainColor);
}

.comments-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.comments-item:not(:first-child) {
  display: none;
}

.comments-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 335px;

  padding: 0 18px 18px 18px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
}

.comments-img {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.comments-wrapper {
  padding-top: 54px;
}

.comments-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--mainColor);
  margin-bottom: 8px;
}

.comments-text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--textColor);
}

@media screen and (min-width: 768px) {
  .comments-container {
    justify-content: center;
    gap: 32px;
  }

  .comments-item {
    width: 336px;
  }

  .comments-item:not(:first-child) {
    display: flex;
  }

  .comments-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .comments-container {
    justify-content: space-between;
  }

  .comments-item {
    width: calc((100% - 52px) / 3);
  }

  .comments-item:last-child {
    display: flex;
  }

  .comments-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .comments-item {
    width: 396px;
  }
}
